

<div class="container">
  <div class="auth-header">
    <h2>(App name here) Login</h2>
  </div>
  <div class="form">
    <form class="" action="index.html" method="post">
      <label for="email-input"></label>
      <input type="email" name="email-input" [(ngModel)]="emailValue" placeholder="Email">
      <br>

      <label for="password-input"></label>
      <input type="password" name="password-input" [(ngModel)]="passwordValue" placeholder="Password">
      <br>

      <button class="bttm-btn" type="submit" name="button">Register</button>
      <button class="register-btn" type="submit" (click)="doLogin()" name="button">Login</button>
    </form>


  </div>
</div>
