<div class="container">
  <img src="../assets/main-big.png" alt="Big logo">
  <div class="form">
    <form class="" action="index.html" method="post">
      <label for="email-input"></label>
      <input type="email" name="email-input" placeholder="Email">
      <br>

      <label for="username-input"></label>
      <input type="text" name="username-input" placeholder="Username">
      <br>

      <label for="password-input"></label>
      <input type="password" name="password-input" placeholder="Password">
      <br>

      <button class="register-btn" type="submit" name="button">Register</button>
    </form>

    <a href="login">Already have an account?</a>
    <button class="bttm-btn" name="button">Login</button>

  </div>
</div>
