<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="top-nav">
    <div class="logo">
      <h1>app name and logo here</h1>
    </div>
    <div class="tools">
      <a class="top-atag" [routerLink]="['/login']"><span class="glyphicon glyphicon-user"></span>      Login/Register</a>
      <a *ngIf="!(isloggedin)" class="top-atag" [routerLink]="['settings']"><span class="glyphicon glyphicon-user"></span>     username </a>
    </div>
  </div>
  <div class="bottom-nav">
    <div class="nav-bar">
      <nav>
        <div class="blah">
          <a class="atag" [routerLink]="['/']">Home</a>
          <a class="atag" [routerLink]="">Contact Us</a>
          <a *ngIf="isloggedin" class="atag" [routerLink]="['register']">Register</a>
          <a *ngIf="!(isloggedin)" class="atag" [routerLink]="['settings']">Settings</a>
          <a *ngIf="!(isloggedin)" class="atag" [routerLink]="['/']">Logout</a>
        </div>
      </nav>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
