<div class="container">
  <div class="col-md-8 colms">
    <div class="news-title">
      <h4>News</h4>
    </div>
    <article class="news-article">
      <header>
        <h1>Announcing PUBG Tracker (Playerunkown's Battlegrounds)</h1>
      </header>
      <div class="pubg-img">

      </div>
    </article>
    <article class="news-article">
      <header>
        <h1>Overwatch Tracker Coming Fall 2017</h1>
      </header>
      <div class="ow-img">

      </div>
    </article>
    <article class="news-article">
      <header>
        <h1>For Honor Stats & Leaderboards!</h1>
      </header>
      <div class="fh-img">

      </div>
    </article>
    <article class="news-article">
      <header>
        <h1>The Division Stats Coming Soon!</h1>
      </header>
      <div class="td-img">

      </div>
    </article>
  </div>
  <div class="col-md-4 colms">
    <div class="news-title">
      <h4>Our Sites</h4>
    </div>
      <h4 class="white-text"><span>Available</span></h4>
    <div class="list-group">
      <div class="list">
        <a [routerLink]="['pubg']">
          <h4 style="margin: 0;"><span>PUBG TRACKER</span></h4>
          <small>Pubg Stats, Leaderboards & more</small>
        </a>
      </div>
      <div class="list">

        <a [routerLink]="['']">
          <h4 style="margin: 0;"><span>DESTINY TRACKER</span></h4>
          <small>Destiny Stats, Leaderboards & more</small>
        </a>
      </div>
      <div class="list">
        <a [routerLink]="['']">
          <h4 style="margin: 0;"><span>OVERWATCH TRACKER</span></h4>
          <small>Overwatch Stats, Leaderboards & more</small>
        </a>
      </div>
      <div class="list">
        <a [routerLink]="['']">
          <h4 style="margin: 0;"><span>BATTLEFIELD TRACKER</span></h4>
          <small>Battlefield Stats, Leaderboards & more</small>
        </a>
      </div>
      <div class="list">
        <a [routerLink]="['']">
          <h4 style="margin: 0;"><span>HALO TRACKER</span></h4>
          <small>Halo Stats, Leaderboards & more</small>
        </a>
      </div>
      <div class="list">
        <a [routerLink]="['']">
          <h4 style="margin: 0;"><span>CS:GO TRACKER</span></h4>
          <small>CS:GO Stats, Leaderboards & more</small>
        </a>
      </div>
      <div class="list">
        <a [routerLink]="['']">
          <h4 style="margin: 0;"><span>FOR HONOR TRACKER</span></h4>
          <small>For Honor Stats, Leaderboards & more</small>
        </a>
      </div>
      <div class="list">
        <a [routerLink]="['']">
          <h4 style="margin: 0;"><span>DIVISION TRACKER</span></h4>
          <small>The Division Stats, Leaderboards & more</small>
        </a>
      </div>
    </div>
  </div>

</div>
